.head-box {
  font-family: 'Courier New', Courier, monospace;
  font-size: 50px;
  color: whitesmoke;
  display: flex;
  justify-content: center;
}

body {
  font-family: 'Courier New', Courier, monospace;
  background-image: url("/styles/pexels-dapo-abideen-5677459.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  
}

.rules-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-style: oblique;
  font-weight: bold;
  margin-top: 20px;
  width: 450px;
  height: 280px;
  margin-left: 100px;
  position: absolute;
  background-color: rgb(154, 111, 110);
  box-shadow: 0px 0px 15px 5px rgb(80, 39, 39);
  border-radius: 15px;
}

.rules {
  font-size: 15px;
  font-style: normal;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
}

h1 {
  display: flex;
  justify-content: center;
  font-size: 30px;
}

.start {
  display: flex;
  justify-content: center;
  margin-left: 630px;
  margin-top: 80px;
  position: absolute;
  height: 150px;
  width: 150px;
  background-color:azure;
  border: 3px solid black;
  display: flex;
  align-content: center;
  padding-top: 30px;
  font-family: 'Courier New', Courier, monospace;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 40px;
  color: blue;
}

.computerSeq {
  margin-left: 800px;
  display: flex;
  justify-items: center;
  background-color: rgb(139, 74, 70);
  height:280px;
  width: 450px;
  margin-top: 20px;
  margin-right: 100px;
  box-shadow: 0px 0px 15px 5px rgb(80, 39, 39);
  border-radius: 15px;

}

p {
  display: flex;
  justify-content: center;
  align-self: center;
}

.text {
  margin-top: -140px;
  margin-left: 18px;
  position: absolute;
  font-size: 18px;
  color: rgb(218, 133, 115);
  font-weight: bold;
}

.randomColour {
  display: flex;
  justify-content: center;
  margin-top: 90px;
  
}

.unknown {
  height: 90px;
  width: 90px;
  margin: 10px;
  border: 2px solid black;
  border-radius: 50px;

}

.mystery {
  position: relative;
}


.gameBoard {
  margin-left: 300px;
  margin-top: 200px;
}


.peg {
  display: flex;
  height: 100px;
  width: 100px;
  border: 2px solid black;
  background-color: lightgray;
  margin-top: -160px;
  font-size: 30px;
  margin-right: 10px;
  border-radius: 50px;
}

.feedback {
  text-decoration: underline;
  margin-left: 370px;
  margin-top: 20px;
}


.gameBoard {
  display: flex;
}



.colourOptions {
  display: grid;
  grid-template-columns: repeat(2,100px);
  grid-template-rows: repeat(3, 100px);
  width: 200px;
  height: 300px;
  border: 5px solid black;
  margin: 0 auto;
}

.selectedColour {
  display: grid;
  grid-template-columns: repeat(4, 50px);
  grid-template-rows: repeat(1, 50px);
  width: 200px;
  height:  50px;
  border: 5px solid black;
  margin: 0 auto;
  margin-top: 10px;
  background-color: white;
}

.hiddenColour {
  background-color: black;
}

.submit {
  width: 200px;
  height: 50px;
  margin: 0 auto;
  margin-top: 10px;
  font-size: 30px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  text-align: center;
  margin-left: 500px;
  margin-top: -50px;
  color: black;
}

.sideBoard {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-content: center;
  margin-left: 100px;
  position: absolute;
  float: right;
  margin-left: 600px;
  margin-top: -250px;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.orange {
  background-color: orange;
}

.green {
  background-color: green;
}

.purple {
  background-color: purple;
}

.black {
  background-color: black;
}



